@model IEnumerable<WebApplication.Models.Device>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Device List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Device" asp-action="Set" class="btn btn-primary">Add new Device</a>
            <a asp-controller="DeviceType" asp-action="Set"  class="btn btn-primary">Add new Device Type</a>
        </div>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Device Type</th>
                        <th>Characteristics</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model)
                    {
                        <tr>
                            <td width="25%" align="center" valign="middle">@device.Name</td>
                            <td width="25%" align="center" valign="middle">@device.DeviceType.Name</td>
                            <td width="30%" height="200px">
                            </td>
                            <td width="20">
                                <div class="w-100 btn-group" role="group">
                                    <a class="btn btn-secondary mx-1" asp-controller="Device" asp-action="Set" asp-route-Id="@device.Id">Edit</a>
                                    <a class="btn btn-danger mx-1" asp-controller="Device" asp-action="Delete" asp-route-Id="@device.Id">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <p>No Devices Created Yet</p>
        }
    </div>
</div>
