@model WebApplication.Models.ViewModels.DeviceVM
@{
    ViewData["Title"] = "IndexProperty";
}


<div class="container p-3">
    <h1>Index Property</h1>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Property List List</h2>
        </div>
    </div>
    <br />
    <form action="/" method="post" class="form-control">

        @*@foreach (var item in Model.DeviceType.AmountOfProperties)
        {*@
        @for (int i = 0; i < Model.DeviceType.AmountOfProperties; i++)
        {
            <label class="col-form-label"> Property </label>
            <input type="text" asp-for="@Model.typeProperties.PropertyName" class="form-control" />
        }
        @*}  *@
        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Create" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                </div>
            </div>
        </div>
    </form>
</div>